@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(../images/fondo_aj1.jpg);background-size:cover;padding-top:40px;">
   
    <h1>Club de Ajedrez</h1>
    <p class="lead">Novedades de tu deporte favorito y más</p>
    <p><a href="https://ajedrezenperu.org/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4" style="background-color:#E6E6FA">
        <h2>Microsoft .net</h2>
        <p>
            
      
            .NET es un framework de Microsoft que hace un énfasis en la transparencia de redes,
             con independencia de plataforma de hardware y que permite un rápido desarrollo de aplicaciones. 
            Basada en ella, la empresa intenta desarrollar una estrategia horizontal que integre todos sus productos, 
            desde el sistema operativo hasta las herramientas de mercado.
        </p>
        @*<p><a class="btn btn-default" @Html.ActionLink("Leer más", "Details", "Ajedrez",new { id=6 })></a></p>
        *@
        <p>
            @Html.ActionLink("Leer más", "NoticiaDetalle", "Home", new { id = 6 }, new { @class = "btn btn-default" })
        </p>

    </div>
    <div class="col-md-4" style="background-color:#E6E6FA">
        <h2>Ex presidente Alan Garcia murió</h2>
        <p>Todo sucedió en 8 minutos. Esta noche se reveló un video del Ministerio Público de cuando intervinieron por orden de detención preliminar al ex presidente fallecido Alan García . </p>
        <p>@Html.ActionLink("Leer más", "NoticiaDetalle", "Home", new { id = 1002 }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4" style="background-color:#E6E6FA">
        <h3>Leopoldo López y su familia dejan embajada de Chile y se van a la de España</h3>
        <p>El opositor venezolano Leopoldo López y su familia abandonaron este martes la residencia del embajador chileno en Caracas y se trasladaron a la embajada de España, informó el canciller chileno, Roberto Ampuero.</p>
        <p><p>@Html.ActionLink("Leer más", "NoticiaDetalle", "Home", new { id = 1003 }, new { @class = "btn btn-default" })</p></p>
    </div>
</div>